python/*/*/*.json
python/*/__pycache__
python/*/*.pyc
csharp/*/*.dll
csharp/*/*/*.json
csharp/*/*.cache
csharp/*/*.pdb
csharp/*/[Dd]ebug/
csharp/*/[Rr]elease/
csharp/*/x64/
csharp/*/[Bb]in/
csharp/*/[Oo]bj/
csharp/*/*.editorconfig
python/*/.vscode/settings.json
python/*/__pycache__/*.pyc

