
python/making-the-grade/.vscode/settings.json
python/making-the-grade/__pycache__/loops.cpython-39.pyc
python/making-the-grade/__pycache__/loops_test.cpython-39-pytest-6.2.5.pyc
csharp/*/*.dll
csharp/*/*/*.json
csharp/*/*.cache
csharp/*/*.pdb
csharp/*/[Dd]ebug/
csharp/*/[Rr]elease/
csharp/*/x64/
csharp/*/[Bb]in/
csharp/*/[Oo]bj/
