
python/making-the-grade/.vscode/settings.json
python/making-the-grade/__pycache__/loops.cpython-39.pyc
python/making-the-grade/__pycache__/loops_test.cpython-39-pytest-6.2.5.pyc
*.dll
csharp/bird-watcher/.vscode/launch.json
*.cache
*.pdb
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
